nav {
    background-color: black;
    display: grid;
    grid-template-columns: auto repeat(3, 1fr);
    align-items: center;
    margin-bottom: 10px;
    text-decoration: none;
}
nav a {
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    text-decoration: none;
    font-size: 17px;
}
nav .hjem {
    background-color: orangered;
    font-weight: 800;
    font-size: 32px;
    padding: 10px;
}

img {
    width: 100%
}

main {
    display: grid;
    grid-template-columns: auto repeat(9, 1fr);
    grid-gap: 5px;
}
article {
    grid-column-gap: 50px;
}
.bilde1 {
    grid-column: 3/10;
    height: auto;
    width: auto;
    grid-row: 2/3;
}
.bilde2 {
    grid-column: 3/7;
    height: auto;
    width: auto;
    grid-row: 3/4;
}
.text1 {
    grid-column: 7/10;
    grid-row: 3/4
}

.text2 {
    grid-column: 3/6;
    grid-row: 4/5;
}

.bilde3{
    grid-column: 6/10;
    grid-row: 4/5;
    height: auto;
    width: auto;
    
}

.video1 {
    grid-column: 3/10;
    grid-row: 2/3;
}

.bilde4 {
    grid-column: 3/5;
    grid-row: 3/4;
}

.text3 {
    grid-column: 3/5;
    grid-row: 4/5
}

.bilde5 {
    grid-column: 5/7;
    grid-row: 3/4;
    width: auto;
    height: auto;
}

.text4 {
    grid-column: 5/7;
    grid-row: 4/5
}
.bilde6 {
    grid-column: 7/9;
    grid-row: 3/4;
}
.text5 {
    grid-column: 7/9;
    grid-row: 4/5;
}

.bilde7{
    grid-column: 3/5;
    grid-row: 5/6;
}

.text6{
    grid-column: 3/5;
    grid-row: 6/7;
}
.bilde8{
    grid-column: 5/7;
    grid-row: 5/6;
}
.text7{
    grid-column: 5/7;
    grid-row: 6/7;
}

.bilde9{
    grid-column: 7/9;
    grid-row: 5/6;
}
.text8{
    grid-column: 7/9;
    grid-row: 6/7;
}



.kontakt-oss{
    text-align: center;
    color: white;
    font-size: 16px;
    grid-column: auto;
    grid-row: auto;
}





.kontakt{

    border-bottom: 1px solid white;

    text-align: center;

}

.mobilnummer{

    color: white;

    transition: 0.5s;

}



footer{

    display: grid;

    grid-template-columns: 100%;

    grid-template-rows: 150px;

    background-color:black;

}